body {
	background-image: url(https://pbs.twimg.com/media/FmDLfb1aUAAgeBO?format=jpg&name=large);
	background-position: center 10px;
	color: white;
	margin: 0;
	padding: 0;
}

.container {
	text-align: center;
	padding-top: 80px;
	margin-right: 10px;
}

img {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 234px;
	height: 154px;
}
